<div class="mb-3" id="form">

    <form action="/action_page.php" id="addBlogContentForm">
        <label class="form-label">Blog Title:</label>
        <input type="text" class="form-control"/><br>
        <label class="form-label">Blog Content:</label>
        <textarea class="form-control"></textarea><br>
        <label class="form-label">Blog Picture:</label><br>
        <input type="file"   class="form-control"id="blogPic" name="filename"><br>
        <input type="submit"  class="form-control"><br>
    </form>
</div>