<div class="aboutMe">
  <div class="timeline">
    <div class="timeline__component">
      <div class="timeline__date timeline__date--right">Datum</div>   
      </div>
        <div class="timeline__middle">
        <div class="timeline__point"></div>
      </div>

          <div class="timeline__component timeline__component--bg">
            <h2 class="timeline__title">Lehre anfang</h2>
              <p class="timeline__paragraph">
                some text
              </p>
          </div>
          <div class="timeline__component timeline__component--bg">
            <h2 class="timeline__title">sek </h2>
              <p class="timeline__paragraph">
                some text
              </p>
          </div>
          <div class="timeline__middle">
            <div class="timeline__point"></div>
            <div class="timeline__component">
              <div class="timeline__date">Datum</div>   

            </div>
            
  </div>
</div>