
<h2>
    CONTACT US
</h2>
<div class="mb-3" id="form">
    <label for="formGroupExampleInput" class="form-label">Surename</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Surename">
    <label for="formGroupExampleInput2" class="form-label">Firstname </label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Firstname">
    <label for="formGroupExampleInput" class="form-label">E-mail</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="E-mail">
    <label for="formGroupExampleInput2" class="form-label">Message </label>
    <textarea type="text" class="form-control" id="formGroupExampleInput2" placeholder="Message"></textarea>
  </div>