.carousel-slide{
  padding-top: 100px;

  padding-left: 300px !important;
  padding-right: 300px !important;
  position: relative;
  text-align: center;
  width: 100%; ;

}

.carousel-slide img{
display: none;
}
.carousel-slide img.image-active{
  display: block;
  width: 100%;

}
.image-active{
  display: block;
  width: 100%;
}
@media only screen and (max-width: 3000px) {
  .carousel-slide{
    padding-top: 50px;
    padding-left:600px !important;
    padding-right: 600px !important;

    }
    .carousel-slide img.image-active{
      display: block;
      width: 100%;
      height: 800px;
    
    }
    .image-active{
      display: block;
      width: 100%;
      height: 800px;
    }

}


@media only screen and (max-width: 1500px) {
  .carousel-slide{
    padding-top: 50px;
    padding-left: 200px !important;
    padding-right: 200px !important;

    }
  .carousel-slide img.image-active{
    display: block;
    width: 100%;
    height: 600px;
  
  }
  .image-active{
    display: block;
    width: 100%;
    height: 600px;
  }
}

@media only screen and (max-width: 1000px) {
  .carousel-slide{
  
    padding-top: 50px;
    padding-left: 200px !important;
    padding-right: 200px !important;
    
    }
  .carousel-slide img.image-active{
    display: block;
    width: 100%;
    height: 400px;
  
  }
  .image-active{
    display: block;
    width: 100%;
    height: 400px;
  }
}
@media only screen and (max-width: 500px) {
  .carousel-slide{
  
    padding-top: 50px;
    padding-left: 50px !important;
    padding-right: 50px !important;
    
    }
  .carousel-slide img.image-active{
    display: block;
    width: 100%;
    height: 300px;
  
  }
  .image-active{
    display: block;
    width: 100%;
    height: 300px;
  }

}
@media only screen and (max-width: 200px) {
  .carousel-slide{
  
    padding-top: 50px;
    padding-left: 50px !important;
    padding-right: 50px !important;
    
    }
  .carousel-slide img.image-active{
    display: block;
    width: 100%;
    height: 250px;
  
  }
  .image-active{
    display: block;
    width: 100%;
    height: 250px;
    ;
  }

}