<div class="titel">
  <a class="nav-link" href="#">RAXAGON</a>
</div>
<nav class="navbar" id="navbar">
  <div class="container-fluid">
    <ul class="nav nav-pills mb-3">
      <li class="navbar-brand" role="presentation">
        <a href="" class="nav-link">Home</a>
      </li>
      <li class="navbar-brand" role="presentation">
        <a href="/aboutMe" class="nav-link">About Me</a>
      </li>
      <li class="navbar-brand" role="presentation">
        <a href="/blog" class="nav-link">Blog</a>
      </li>
      <li class="navbar-brand" role="presentation">
        <a href="/contact" class="nav-link">Contacts</a>
      </li>
    </ul>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
