<h2>CONTACT US</h2>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="mb-3" id="form">
    <label class="form-label">Surename</label>
    <input
      formControlName="surename"
      type="text"
      class="form-control"
      placeholder="Surename"
    />
    <span
      style="color: red"
      *ngIf="
        contactForm.controls['surename'].invalid &&
        contactForm.controls['surename'].touched
      "
      >Surename is required<br
    /></span>
    <label class="form-label">Firstname </label>
    <input
      formControlName="firstname"
      type="text"
      class="form-control"
      placeholder="Firstname"
    />
    <span
      style="color: red"
      *ngIf="
        contactForm.controls['firstname'].invalid &&
        contactForm.controls['firstname'].touched
      "
      >Firstname is required<br
    /></span>
    <label class="form-label">E-mail</label>
    <input
      formControlName="email"
      type="text"
      class="form-control"
      placeholder="E-mail"
    />
    <span
      style="color: red"
      *ngIf="
        contactForm.controls['email'].invalid &&
        contactForm.controls['email'].touched
      "
      >E-mail is incorrect<br
    /></span>
    <label class="form-label">Message </label>
    <textarea
      formControlName="message"
      type="text"
      class="form-control"
      placeholder="Message"
    ></textarea
    ><br />
    <span></span>
    <input type="submit" class="form-control" /><br />
  </div>
</form>
