<div class="titel">
  <li class="navbar-brand"role="presentation">
    <a class="nav-link " href="#">RAXAGON</a>
    </li>
</div>
<nav class="navbar" id="navbar">
  
    <div class="container-fluid">
    
   
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
   
    <li class="navbar-brand"role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
    </li>
    <li class="navbar-brand" role="presentation">
      <button class="nav-link" id="pills-aboutMe-tab" data-bs-toggle="pill" data-bs-target="#pills-aboutMe" type="button" role="tab" aria-controls="pills-aboutMe" aria-selected="false">About Me</button>
    </li>
    <li class="navbar-brand" role="presentation">
      <button class="nav-link" id="pills-blog-tab" data-bs-toggle="pill" data-bs-target="#pills-blog" type="button" role="tab" aria-controls="pills-blog" aria-selected="false">Blog</button>
    </li>
    <li class="navbar-brand" role="presentation">
      <button class="nav-link" id="pills-contacts-tab" data-bs-toggle="pill" data-bs-target="#pills-contacts" type="button" role="tab" aria-controls="pills-contacts" aria-selected="false" >Contacts</button>
    </li>
   
  </ul>
  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  </div>
  </nav>