<div class="aboutMe">
  <h1>ABOUT ME</h1>
  <p>
    My name is Raksana Ravichandran. I am 18 years old and I work in IT.<br />
    I build this Blog to share my interesst's, exprience and my knowledge<br />
    in IT and Finance. I want to share these because I worked very hard to gian
    <br />
    that knowledge. I'm honstet I think programming is a live skill, because
    I<br />
    am able to solve Problems very Quick and I am getting better at it every
    day.<br />
    I also think it is importent to know about Finance, so I could do the
    things<br />
    I want to improve in or just do.
  </p>
</div>
